################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentle.BookStoreCore/.vs/Webgentle.BookStoreCore/v16
/Webgentle.BookStoreCore/Webgentle.BookStoreCore/obj
